alabaster==0.7.10
astroid==1.5.3
Babel==2.5.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
bleach==2.1
boto==2.48.0
caniusepython3==5.0.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.9
configparser==3.5.0
coverage==4.4.1
cx-Oracle==5.1.2
cycler==0.10.0
decorator==4.1.2
distlib==0.2.5
dnspython==1.15.0
docutils==0.14
easygui==0.98.1
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
file-read-backwards==1.1.2
Fiona==1.7.9
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
geopy==1.11.0
googlemaps==2.5.1
html5lib==1.0b10
idna==2.6
imagesize==0.7.1
ipaddr==2.2.0
ipwhois==1.0.0
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.1
isort==4.2.15
jdcal==1.3
Jinja2==2.9.6
jsondatabase==0.1.7
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
kivy.deps.glew==0.1.4
kivy.deps.sdl2==0.1.12
lazy-object-proxy==1.3.1
learn-tests==0.1
Mako==1.0.7
mapnik==0.1
Markdown==2.4.1
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
memory-profiler==0.47
mistune==0.7.4
munch==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.1.0
numpy==1.13.1
olefile==0.44
openpyxl==2.4.8
packaging==16.8
pandas==0.20.3
pandocfilters==1.4.2
pathlib2==2.3.0
pdfkit==0.6.1
pdoc==0.3.2
pep8==1.7.0
pickleshare==0.7.4
Pillow==4.2.1
pluggy==0.5.2
prompt-toolkit==1.0.15
psutil==5.3.0
py==1.4.34
PyForms==0.1.7.3
pygame==1.9.3
Pygments==2.2.0
PyInstaller==3.2.1
pylint==1.7.2
pyment==0.3.2.dev4
pymongo==3.5.1
pyodbc==3.0.7
pyparsing==2.2.0
pypiwin32==219
PySettings==0.1.90
pytest==3.2.2
pytest-cov==2.5.1
python-dateutil==2.6.1
pytz==2017.2
pywin32==218.5
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.18.4
scandir==1.5
simplegeneric==0.8.1
simplekml==1.3.0
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
testpath==0.3.1
tornado==4.5.2
tox==2.8.2
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
vincent==0.4.4
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.3
win-unicode-console==0.5
wrapt==1.10.11
xlrd==1.1.0
xlwt==1.3.0
xmltodict==0.11.0
